body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lexend', sans-serif;
}

.main-title-container {
    text-shadow: 3px 3px 5px #02731E;
    position: absolute;
    margin-top: -40px;
    margin-left: 23.5%;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 36px;
    color: #05F283;
}

.content-container {
    text-align: center;
    margin-top: 100px; 
}

.top-image {
    max-width: 35%;
    height: auto;
    margin-top: 100px; 
}

.download-button-container {
    margin-top: 90px;
}

.download-button {
    display: inline-block;
    padding: 30px 60px;
    font-size: 60px; 
    text-decoration: none;
    color: black;
    background-color: #05F283;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Bebas Neue', sans-serif;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.download-button:hover {
    background-color:#22f995;
    transform: scale(1.05);
}
.contact-link {
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-icon {
    max-width: 50px;
    height: auto;
    transition: transform 0.3s; 
    transform: scale(1); 
}

.contact-icon:hover {
    transform: scale(1.1); 
}
